<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>

<form method="POST" action="/login" >

    <input type="hidden" name="response_type" th:value="${response_type}" />
    <input type="hidden" name="scope" th:value="${scope}" />
    <input type="hidden" name="client_id" th:value="${client_id}" />
    <input type="hidden" name="state" th:value="${state}" />
    <input type="hidden" name="redirect_uri" th:value="${redirect_uri}" />

    <p>Id: <input name="user_id" type="text" /></p>
    <p>Id: <input name="password" type="password" /></p>

    <p><input type="submit" value="Submit" /> </p>

</form>
</body>
</html>